<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> -->


<div class="container">
	<div class="row">
		<div id="project-sidebar" class="col-md-4 ">
			<h2 id="sdbr-title">Hammock</h2>	
			<div>
				<div id="sdbr-price">200</div>
				<div id="sdbr-oldprice">500</div>
			</div>
		</div>
		<div id="project-content" class="col-md-8 ">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
		</div>
	</div>
</div>